<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="Shape" class="com.mindtree.entity.Shape"></bean>
<bean id="Square" class="com.mindtree.entity.Square"></bean>
<bean id="Circle" class="com.mindtree.entity.Circle"></bean>
</beans>